
@font-face {
  font-family: 'Flexo';
  src: url('../font/Flexo/Flexo-Regular.otf');
}

* {
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font-family: 'Flexo', sans-serif;
}